# Store this file at /etc/systemd/system/seacatio.service
# Enable by systemctl enable seacatio
# Reload this file by systemctl daemon-reload
# Start by systemctl start seacatio
# or by service seacatio start

[Unit]
Description=SeaCat.io Agent
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/seacatio
ExecStart=/opt/seacatio/bin/seacatiod -c /opt/seacatio/etc/seacatio.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
